<button class="btn products__hover-btn">Add to cart</button>
<ul class="products__hover-list">
    <li class="products__hover-item">
        <button class="hover__btn share__btn"><img src="./images/share-icon.svg" alt="">Share</button>
    </li>
    <li class="products__hover-item">
        <button class="hover__btn compare__btn"><img src="./images/compare-icon.svg" alt="">Compare</button>
    </li>
    <li class="products__hover-item">
        <button class="hover__btn like__btn"><img src="./images/heart-hover-icon.svg" alt="">Like</button>
    </li>
</ul>
